body {
    background-color: #202b38;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pageTitle {
    text-align: center;
    color: greenyellow;
}

.navBar {
    border-bottom: 1px solid white;
}

/* Begin -- Authentication Section */
form > div {
    width: 50%;
    margin: 5% auto 15% auto;
}
form > div > label {
    color: greenyellow;
}
form > div > label > input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
/* End -- Authentication Section */

.searchBar {
    text-align: center;
}
.searchBar > input {
    width: 50%;
}

.match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: thick solid;
    gap: 10px;
    margin: 5px;
    padding: 5px;
    align-items: center;
    color: white;
}

.match > .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: thin solid;
    margin: 1px;
    padding: 1px;
    text-align: center;
    align-items: center;
}

.team > .score {
    font-weight: bold;
}

.winner {
    color: lightgreen;
}

.loser {
    color: lightcoral;
}